body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.900);
    color: whitesmoke;
}

.imagens {
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.imagens img {
    width: 270px;
    display: block;
}