body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.900);
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.capa_virtudes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
}

.botao_voltar {
    margin-top: 15px;
}